# === NetBeans ===
nbproject/private/
nbproject/var/
nbproject/configs/
nbproject/private.xml

# === Build & Distribution ===
build/
dist/
build.xml

# === Java ===
*.class
*.jar
*.war
*.ear
*.log

# === IDEs ===
*.iml
.idea/
.vscode/

# === Sistema ===
.DS_Store
Thumbs.db

# === Otros archivos temporales ===
*.bak
*.tmp

